1. Função para Retornar Números Ímpares
Pergunta: Escreva uma função que receba uma lista de números e retorne outra lista com os números ímpares.

In [1]:
def impares(lista_numeros):

  numeros_impares = []
  for numero in lista_numeros:
    if numero % 2 != 0:
      numeros_impares.append(numero)
  return numeros_impares

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
impares = impares(numeros)
print(f"Lista original: {numeros}")
print(f"Números ímpares: {impares}")

Lista original: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Números ímpares: [1, 3, 5, 7, 9]

2. Escreva uma função que receba uma lista de números e retorne outra lista
com os números primos presentes.

In [2]:
def eh_primo(numero):
  if numero <= 1:
    return False
  for i in range(2, int(numero**0.5) + 1):
    if numero % i == 0:
      return False
  return True

def primos(lista_numeros):

  numeros_primos = []
  for numero in lista_numeros:
    if eh_primo(numero):
      numeros_primos.append(numero)
  return numeros_primos

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19]
primos = primos(numeros)
print(f"Lista original: {numeros}")
print(f"Números primos: {primos}")

Lista original: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19]
Números primos: [2, 3, 5, 7, 11, 13, 17, 19]

3. Escreva uma função que receba duas listas e retorne outra lista com os
elementos que estão presentes em apenas uma das listas.

In [3]:
def elementos_unicos(lista1, lista2):
  set1 = set(lista1)
  set2 = set(lista2)
  diferenca_simetrica = set1.symmetric_difference(set2)
  return list(diferenca_simetrica)

l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
unicos = elementos_unicos(l1, l2)
print(f"Lista 1: {l1}")
print(f"Lista 2: {l2}")
print(f"Elementos únicos: {unicos}")

Lista 1: [1, 2, 3, 4, 5]
Lista 2: [4, 5, 6, 7, 8]
Elementos únicos: [1, 2, 3, 6, 7, 8]

4. Dada uma lista de números inteiros, escreva uma função para encontrar o
segundo maior valor na lista.

In [4]:
def segundo_maior(lista_numeros):
  numeros_unicos = sorted(list(set(lista_numeros)), reverse=True)
  if len(numeros_unicos) < 2:
    return None
  return numeros_unicos[1]

numeros = [10, 20, 4, 45, 99, 45]
segundo_maior = segundo_maior(numeros)
print(f"Lista: {numeros}")
print(f"Segundo maior valor: {segundo_maior}")

Lista: [10, 20, 4, 45, 99, 45]
Segundo maior valor: 45

5. Crie uma função que receba uma lista de tuplas, cada uma contendo o
nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das
pessoas em ordem alfabética.

In [5]:
def ordenar(lista_de_tuplas):

  return sorted(lista_de_tuplas, key=lambda pessoa: pessoa[0])

# Exemplo de uso:
pessoas = [('Maria', 30), ('Ana', 25), ('Carlos', 35), ('Beatriz', 22)]
pessoas_ordenadas = ordenar(pessoas)
print(f"Lista original: {pessoas}")
print(f"Lista ordenada por nome: {pessoas_ordenadas}")

Lista original: [('Maria', 30), ('Ana', 25), ('Carlos', 35), ('Beatriz', 22)]
Lista ordenada por nome: [('Ana', 25), ('Beatriz', 22), ('Carlos', 35), ('Maria', 30)]

6. Como identificar e tratar outliers em uma coluna numérica usando desvio padrão ou quartis?

In [11]:
# Criando um DF com outliers para o exemplo
dados = {'valor': [10, 12, 12, 13, 12, 11, 14, 13, 15, 102, 10, -50]}
df_outlier = pd.DataFrame(dados)
print("--- DataFrame Original ---")
print(df_outlier)

print("\n--- Tratando Outliers com Desvio Padrão ---")

# Calcular a média e o desvio padrão
media = df_outlier['valor'].mean()
desvio_padrao = df_outlier['valor'].std()
n_desvios = 2


# Calcular os limites
limite_inferior = media - n_desvios * desvio_padrao
limite_superior = media + n_desvios * desvio_padrao

print(f"\nMédia: {media:.2f}")
print(f"Desvio Padrão: {desvio_padrao:.2f}")
print(f"Limite Inferior ({n_desvios} desvios): {limite_inferior:.2f}")
print(f"Limite Superior ({n_desvios} desvios): {limite_superior:.2f}")


# Identificar os outliers
outliers = df_outlier[(df_outlier['valor'] < limite_inferior) | (df_outlier['valor'] > limite_superior)]
print("\nOutliers identificados:")
print(outliers)


# Remover os outliers
df_sem_outliers = df_outlier[(df_outlier['valor'] >= limite_inferior) & (df_outlier['valor'] <= limite_superior)]
print("\n--- DataFrame após remover os outliers ---")
print(df_sem_outliers)

--- DataFrame Original ---
    valor
0      10
1      12
2      12
3      13
4      12
5      11
6      14
7      13
8      15
9     102
10     10
11    -50

--- Tratando Outliers com Desvio Padrão ---

Média: 14.50
Desvio Padrão: 32.88
Limite Inferior (2 desvios): -51.26
Limite Superior (2 desvios): 80.26

Outliers identificados:
   valor
9    102

--- DataFrame após remover os outliers ---
    valor
0      10
1      12
2      12
3      13
4      12
5      11
6      14
7      13
8      15
10     10
11    -50

In [10]:
import pandas as pd
import numpy as np

# Criando um DF com outliers
dados = {'valor': [10, 12, 12, 13, 12, 11, 14, 13, 15, 102, 10, -50]}
df_outlier = pd.DataFrame(dados)
print("DataFrame Original:")
print(df_outlier)

# --- Usando Quartis ---
print("\n--- Tratando Outliers com IQR ---")
Q1 = df_outlier['valor'].quantile(0.25)
Q3 = df_outlier['valor'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

print(f"Q1: {Q1}, Q3: {Q3}, IQR: {IQR}")
print(f"Limite Inferior: {limite_inferior}")
print(f"Limite Superior: {limite_superior}")

# Identificando outliers
outliers = df_outlier[(df_outlier['valor'] < limite_inferior) | (df_outlier['valor'] > limite_superior)]
print("\nOutliers identificados:")
print(outliers)

# Tratamento: Remover os outliers
df_sem_outliers = df_outlier[(df_outlier['valor'] >= limite_inferior) & (df_outlier['valor'] <= limite_superior)]
print("\nDataFrame após remover outliers:")
print(df_sem_outliers)

DataFrame Original:
    valor
0      10
1      12
2      12
3      13
4      12
5      11
6      14
7      13
8      15
9     102
10     10
11    -50

--- Tratando Outliers com IQR ---
Q1: 10.75, Q3: 13.25, IQR: 2.5
Limite Inferior: 7.0
Limite Superior: 17.0

Outliers identificados:
    valor
9     102
11    -50

DataFrame após remover outliers:
    valor
0      10
1      12
2      12
3      13
4      12
5      11
6      14
7      13
8      15
10     10

7. Como concatenar vários DataFrames (empilhando linhas ou colunas),
mesmo que tenham colunas diferentes?
Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1
(colunas). Quando há colunas diferentes, os valores ausentes são
preenchidos com NaN.

In [12]:
import pandas as pd

# --- Empilhando Linhas --
df1 = pd.DataFrame({'A': ['A0', 'A1'], 'B': ['B0', 'B1']})
df2 = pd.DataFrame({'A': ['A2', 'A3'], 'C': ['C2', 'C3']})

# Concatena linhas. Onde uma coluna não existe, preenche com NaN.
resultado_linhas = pd.concat([df1, df2], ignore_index=True)
print("--- Concatenando Linhas (axis=0) ---")
print(resultado_linhas)


# --- Empilhando Colunas (axis=1) ---
df3 = pd.DataFrame({'C': ['C0', 'C1'], 'D': ['D0', 'D1']})

# Concatena colunas lado a lado
resultado_colunas = pd.concat([df1, df3], axis=1)
print("\n--- Concatenando Colunas (axis=1) ---")
print(resultado_colunas)

--- Concatenando Linhas (axis=0) ---
    A    B    C
0  A0   B0  NaN
1  A1   B1  NaN
2  A2  NaN   C2
3  A3  NaN   C3

--- Concatenando Colunas (axis=1) ---
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

8. Utilizando pandas, como realizar a leitura de um arquivo CSV em um
DataFrame e exibir as primeiras linhas?

In [13]:
import pandas as pd

# Criando um arquivo CSV de exemplo
dados_csv = """ID,Nome,Idade
1,Ana,28
2,Bruno,35
3,Carla,22
4,Daniel,41
5,Elisa,30
6,Fernando,29
7,Gabriela,38
"""

with open('meus_dados.csv', 'w') as f:
    f.write(dados_csv)

print("Arquivo 'meus_dados.csv' criado com sucesso.")

# Lendo o CSV para um DF
df = pd.read_csv('meus_dados.csv')

# Exibindo as 5 primeiras linhas do DF
print("\nAs 5 primeiras linhas do DataFrame:")
print(df.head())

Arquivo 'meus_dados.csv' criado com sucesso.

As 5 primeiras linhas do DataFrame:
   ID    Nome  Idade
0   1     Ana     28
1   2   Bruno     35
2   3   Carla     22
3   4  Daniel     41
4   5   Elisa     30

9. Utilizando pandas, como selecionar uma coluna específica e filtrar linhas
em um “DataFrame” com base em uma condição?

In [17]:
import pandas as pd

# Reutilizando o DF criado na célula anterior
print("DataFrame Original:")
print(df)

# Selecionando uma coluna específica
coluna_nome = df['Nome']
print("\n--- Seleção da Coluna 'Nome' ---")
print(coluna_nome)

# Filtrando linhas com base em uma condição (Idade > 30)
df_filtrado = df[df['Idade'] > 30]
print("\n--- DataFrame Filtrado (Idade > 30) ---")
print(df_filtrado)

DataFrame Original:
   ID      Nome  Idade
0   1       Ana     28
1   2     Bruno     35
2   3     Carla     22
3   4    Daniel     41
4   5     Elisa     30
5   6  Fernando     29
6   7  Gabriela     38

--- Seleção da Coluna 'Nome' ---
0         Ana
1       Bruno
2       Carla
3      Daniel
4       Elisa
5    Fernando
6    Gabriela
Name: Nome, dtype: object

--- DataFrame Filtrado (Idade > 30) ---
   ID      Nome  Idade
1   2     Bruno     35
3   4    Daniel     41
6   7  Gabriela     38

10. Utilizando pandas, como lidar com valores ausentes (NaN) em um
DataFrame?

In [18]:
import pandas as pd
import numpy as np

# Criando um DF com valores ausentes
dados = {'A': [1, 2, np.nan, 4, 5],
         'B': [50, np.nan, 70, 80, np.nan],
         'C': ['x', 'y', 'z', 'w', 'k']}
df_nan = pd.DataFrame(dados)
print("--- DataFrame Original com NaN ---")
print(df_nan)

# --- Estratégia 1: Remover linhas com qualquer valor NaN ---
df_removido = df_nan.dropna()
print("\n--- Após remover linhas com NaN (.dropna()) ---")
print(df_removido)

# --- Estratégia 2: Preencher NaN com um valor específico (0) ---
df_preenchido_zero = df_nan.fillna(0)
print("\n--- Após preencher NaN com 0 (.fillna(0)) ---")
print(df_preenchido_zero)

# --- Estratégia 3: Preencher NaN com a média da respectiva coluna ---
# O inplace=False (padrão) retorna uma cópia modificada.
# O inplace=True modificaria o df_nan diretamente.
df_preenchido_media = df_nan.copy() # Copia pra não alterar o original
df_preenchido_media['A'] = df_preenchido_media['A'].fillna(df_preenchido_media['A'].mean())
df_preenchido_media['B'] = df_preenchido_media['B'].fillna(df_preenchido_media['B'].mean())

print("\n--- Depois preencher NaN com a média da coluna ---")
print(df_preenchido_media)

--- DataFrame Original com NaN ---
     A     B  C
0  1.0  50.0  x
1  2.0   NaN  y
2  NaN  70.0  z
3  4.0  80.0  w
4  5.0   NaN  k

--- Após remover linhas com NaN (.dropna()) ---
     A     B  C
0  1.0  50.0  x
3  4.0  80.0  w

--- Após preencher NaN com 0 (.fillna(0)) ---
     A     B  C
0  1.0  50.0  x
1  2.0   0.0  y
2  0.0  70.0  z
3  4.0  80.0  w
4  5.0   0.0  k

--- Depois preencher NaN com a média da coluna ---
     A          B  C
0  1.0  50.000000  x
1  2.0  66.666667  y
2  3.0  70.000000  z
3  4.0  80.000000  w
4  5.0  66.666667  k